<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns="http://www.springframework.org/schema/beans"
	   xmlns:util="http://www.springframework.org/schema/util" xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

	<context:annotation-config />
	<aop:aspectj-autoproxy />
	<context:component-scan base-package="ru.uoles.proj" />
	<util:properties id="settings" location="classpath:/application.properties"/>
	
	<bean id="entityDao" class="ru.uoles.proj.dao.EntityDaoImpl" />
	<bean id="paymentService" class="ru.uoles.proj.service.PaymentServiceImpl" />
	<bean id="logAspect" class="ru.uoles.proj.aspect.LogAspect" />

	<bean id="namedParameterJdbcTemplate" class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate">
		<constructor-arg ref="jdbcTemplate"/>
	</bean>

	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<constructor-arg ref="dataSource"/>
		<property name="exceptionTranslator" ref="customSQLErrorCodeTranslator"/>
	</bean>

	<bean id="customSQLErrorCodeTranslator" class="ru.uoles.proj.translator.CustomSQLErrorCodeTranslator" />

	<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="#{settings['db.driver']}"/>
		<property name="url" value="#{settings['db.connection']}"/>
		<property name="username" value="#{settings['db.login']}"/>
		<property name="password" value="#{settings['db.password']}"/>
	</bean>
 </beans>
